

.video-gallery {
    text-align: center;
    padding: 2rem; 

    &-title {
      font-size: 1.5rem; 
      margin-bottom: 2rem;
    }

    &-videos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5rem; 
      margin: 0 1rem; 

      @media (min-width: 768px) {
        gap: 2rem;
        margin: 0 3rem; 
      }
    }

    &-video {
      position: relative;
      padding-top: 56.25%; 
      overflow: hidden;
      width: 100%; 
      margin-bottom: 1rem;
      @media (min-width: 768px) {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
        padding-top: 28.125%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
}

@media (min-width: 768px) {
    .video-gallery{
        padding: 5rem;
    }
    .video-gallery-title {
        font-size: 2.5rem; 
        margin-bottom: 3rem;
    }
    
    .video-gallery p {
        font-size: 1.25rem; 
    }
}
