.testimony-wrapper {
    display: flex;
    width: 75%;
    margin: 0 auto;
   .testimony-box{
    width: 50%;
    padding: 1.2rem;
   }
    @media (max-width: 1057px) {
        width: 100%;
    }
    @media (max-width: 624px) {
        flex-direction: column-reverse;
        .testimony-box{
            width: 100%;
           }
    }
}
